<p><%= link_to "Back", products_path %></p>


<section class="product">
  <% if @product.images.attached? %>
    <% @product.images.each do |image| %>
      <%= image_tag image.variant(resize_to_limit: [300,300]) %>
    <%end%>
  <%end%>

  <section class="product-info">
  <% cache @product do %>
    <h1><%= @product.name %></h1>
    <%= @product.description %>
  <% end %>

  <%= render "inventory", product: @product %>

  <% if authenticated? %>
  <%= link_to "Edit", edit_product_path(@product) %>
  <%= button_to "Delete", @product, method: :delete, data: {turbo_confirm: "Are you sure?"} %>
  <% end %>
  </section>
</section>








